.contacto-style {
    color: white !important;
    font-size: 4rem;
    margin-left: 12px;
    margin-right: 12px;
}

.contacto-style a {
    color: white !important;
}

.digiall-contact-form label {
    color: white !important; 
    font-size: 1.8rem;
}

.digiall-contact-form input {
    color: white !important;
}

.digiall-contact-form textarea {
    color: white !important;
}